:root {
  --color-primary: #eac4d3;
  --color-secondary: #b14e74;

  /* Font Families - Updated to use your custom fonts */
  --font-family-heading: "ClientFont", "montserrat", sans-serif;
  --font-family-subheading: "ClientFont", "montserrat", sans-serif;
  --font-family-body: "ClientFont", "montserrat", sans-serif;

  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-body: 1rem;

  --font-color-primary: #be4574;
  --font-color-secondary: #231f20;
}
