:root {
  --color-primary: #eac4d3;
  --color-secondary: #b14e74;

  /* Font Families */
  --font-family-heading: "neulis sans semibold", "montserrat", sans-serif;
  --font-family-subheading: "neulis sans regular", sans-serif;
  --font-family-body: "neulis sans extra light", "montserrat", sans-serif;

  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-body: 1rem;

  --font-color-primary: #f6f1ea;
  --font-color-secondary: #231f20;
}
