footer {
  width: 100vw;
  height: auto;
  color: var(--font-color-primary);
  z-index: 100;
}

.footer-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 20px;
  font-size: 1.2rem;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
}

.footer-middle {
  display: flex;
  justify-content: center;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.socials {
  font-size: 2rem;
}
