#home {
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

#home-2 {
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

#home-3 {
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home-container {
  max-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  position: relative;
}

.sticker-home-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30vw;
}

.Smiley-sticker-1 {
  position: relative;

  width: clamp(30px, 10vw, 100px);
  height: auto;
  transform: rotate(-45deg);
}

.Smiley-sticker-2 {
  position: relative;

  width: clamp(30px, 10vw, 100px);
  height: auto;
  transform: rotate(45deg);
}
.animation-text {
  position: relative;

  margin-top: 20px;
  margin-bottom: 60px;
}

.logo-scroll {
  display: flex;

  animation: infiniteScroll 25s linear infinite;
}
.logo-scroll img {
  width: clamp(1000px, 50vw, 1500px);
  height: auto;
}

@keyframes infiniteScroll {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(-100%);
  }
}

.home-text {
  display: flex;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  margin-top: 20px;

  max-width: 80vw;
  font-size: clamp(1.2rem, 1.4vw, 2rem);
  font-style: oblique;
  font-weight: 300;
  line-height: 1.5;
}

.home-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  max-height: 100vh;
}

.home-text-2 {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 25%;
  width: 80vw;
  max-width: 100vw;
  font-size: clamp(1.2rem, 1.4vw, 2rem);

  line-height: 1.2;
}

.smiley-home {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smiley-home img {
  position: relative;
  width: 40vw;
  height: auto;
  z-index: 0;
  opacity: 5%;
}

.kontakt-knapp {
  position: relative;
  margin-top: 25%;
}

.kontakt-knapp:hover {
  cursor: pointer;
}

.kontakt-knapp h4 {
  background-color: var(--font-color-primary);
  color: white;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: clamp(1rem, 1.4vw, 1.5rem);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.home-3-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.instagram-carousel {
  width: 80vw;
  height: 100vh;
}

/* Not recommended, but possible */
[data-widget-brand] {
  display: none !important;
}

/* Mobile and Tablet Responsive Styles */

/* Tablet styles (768px and below) */
@media screen and (max-width: 768px) {
  .smiley-home img {
    width: 80vw;
    height: auto;
  }
  .home-text-2 {
    font-size: 1rem;
    margin-bottom: 20px;
  }
}
