#kontakt-oss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.kontakt-oss-container {
  display: flex;
  flex-direction: column;
}

.kontakt-oss-container h1 {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  display: relative;
}

.kontakt-oss-container h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}

.kontakt-oss-container p {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.kontakt-oss-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
