#kontakt-oss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.kontakt-oss-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kontakt-oss-container h1 {
  font-size: 2rem;
  font-weight: 600;
  font-style: oblique;
  text-align: center;
  display: relative;
}

.kontakt-oss-container a {
  font-size: 1.2rem;
  font-weight: bold;
}

.kontakt-oss-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.kontakt-oss-info i {
  margin-right: 10px;
}

.smiley-bg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smiley-bg img {
  position: relative;
  width: 40vw;
  height: auto;
  z-index: 0;
  opacity: 5%;
}

@media screen and (max-width: 768px) {
  .smiley-bg img {
    width: 80vw;
    height: auto;
  }
}
