#kontakt-oss {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: calc(100vh - env(safe-area-inset-top));
  width: 100vw;
}

.kontakt-oss-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kontakt-oss-container h1 {
  font-size: clamp(1.2rem, 2vw, 2rem);
  font-weight: 600;
  font-style: oblique;
  text-align: center;
  display: relative;
  margin-bottom: 50px;
}

.kontakt-oss-container a {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  font-weight: bold;
}

.kontakt-oss-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.kontakt-oss-info i {
  display: inline-block;
  width: 20px; /* Fixed width for all icons */
  height: 20px; /* Fixed height for all icons */
  margin-right: 12px; /* Consistent spacing after icon */
  text-align: center; /* Center the icon within its container */

  font-size: 1.4rem; /* Consistent icon size */
  line-height: 20px; /* Match the height for perfect centering */
}

.kontakt-oss-info a {
  display: flex;
  align-items: center; /* Vertically center icon and text */
  font-family: var(--font-family-body);
  text-decoration: none;
  color: var(--font-color-primary);
}

.smiley-bg {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.smiley-bg img {
  position: relative;
  width: 40vw;
  height: auto;
  z-index: 0;
  opacity: 5%;
}

@media screen and (max-width: 768px) {
  .smiley-bg img {
    width: 80vw;
    height: auto;
  }
}

@media screen and (min-width: 3000px) {
  .smiley-bg img {
    width: 30vw;
  }
}
