#kommer-snart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
}

.tjenester-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.tjenester-title {
  font-size: 2rem;
}

.accordion {
  max-width: 800px;
  margin: 0 auto;
}

.accordion-item {
  border-bottom: 2px solid var(--font-color-primary);
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.accordion-header {
  width: 40vw;
  padding: 20px 20px 0;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--font-color-primary);
  transition: all 0.3s ease;
}

.accordion-header.active[aria-expanded="true"] {
  transform: rotate(90deg);
}

.accordion-header:hover {
  opacity: 0.8;
}

.accordion-icon {
  font-size: 2rem;
  font-weight: 300;
  transition: transform 0.3s ease;
}

.accordion-header[aria-expanded="true"] .accordion-icon {
  transform: rotate(45deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.accordion-content.active {
  max-height: 200px;
}

.accordion-body {
  padding: 0 20px;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  color: var(--font-color-secondary);
  transform: translateY(0);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 1s ease-in-out;
}

.accordion-content.active .accordion-body {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .accordion-header,
  .accordion-body {
    font-size: 1rem;
  }
  .accordion-item,
  .accordion-header {
    width: 80vw;
  }
}
